<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/default}">
<head>
</head>

<body>

<div layout:fragment="main">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">Tạo sản phẩm</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <form id="form-create-product" th:action="@{/admin/categories}" method="POST">
                        <div class="mb-3">
                            <label class="form-label">Tên danh mục</label>
                            <input name="name" id="name" class="form-control" placeholder="Nhập tên danh mục">
                        </div>
                        <button type="submit" class="btn btn-primary">Tạo</button>
                        <a href="/admin/category-list">
                            <button type="button" class="btn btn-danger">Quay lại</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>