<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/default}">
<head>
</head>

<body>

<div layout:fragment="main">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">Cập nhật sản phẩm</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <form id="form-create-product" th:action="'/admin/products/update/' + ${product.id}" method="POST" th:object="${product}">
                        <div class="mb-3">
                            <label class="form-label">Tên sản phẩm</label>
                            <input th:field="*{name}" class="form-control" placeholder="Nhập tên sản phẩm">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Link ảnh sản phẩm</label>
                            <input th:field="*{url}" class="form-control" placeholder="Nhập url">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Danh mục</label>
                            <select th:field="*{category}" class="form-control">
                                <option th:each="cate : ${categoryList}"
                                        th:value="${cate.id}"
                                        th:text="${cate.name}"
                                        th:selected="${cate.id} == ${product.category.id}"
                                >
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Giá</label>
                            <input type="number" th:field="*{price}" class="form-control" placeholder="Nhập gíá">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Số lượng</label>
                            <input type="number" th:field="*{stockQuantity}" class="form-control"
                                   placeholder="Nhập số lượng">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Trạng thái</label>
                            <select th:field="*{isActive}" class="form-control">
                                <option value="true" th:selected="${product.isActive == true}">Hoạt động</option>
                                <option value="false" th:selected="${product.isActive == false}">Tạm ngưng</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Mô tả</label>
                            <textarea th:field="*{description}"  class="form-control"
                                      placeholder="Mô tả"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                        <a href="/admin/products">
                            <button type="button" class="btn btn-danger">Thoát</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>